/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--main-text-color:#f4f6fb;
	--color-background:#171719;
	--background:#090909;
	--main-font: 'inter';
}





/****************/
/* JOUW STYLING */
/****************/
* {
	background-color: var(--background);
	color: var(--main-text-color);
	font-family: var(--main-font);
}

section {
	background-color: var(--color-background);
}

h1 {
	visibility: hidden;
}

section:first-of-type img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

/* jouw code */
/* op de child 
margin-left:auto

voor bv img eerst en dan tekst: wel op de child
flex-direction:column */

twee thema;s met custom properties
aria-current voor link?
: is staat en :: gaat over :: content

drie css bestanden:
1 voor algemene dingen; fonts etc
1 voor home
1 voor andere pagina 