
/* CSS REMEDY */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Custom properties */
:root {
	/* Dark mode */
	--main-text-color: #f4f6fb;
	--secondary-text-color: rgba(244, 246, 251, 0.5);
	--tertairy-text-color: #090909;
	--text-color-dark: #484848;
	--background: black;
	--background-color: #171719;
	--event-button-color: #2C3EDC;
	--wazige-button-color: rgba(244, 246, 251, 0.1);
	--light-button-color: rgba(255, 255, 255, 0.8);
	--heading-yellow: #DAA035;

	--gray-background-color: rgba(231, 234, 255, 0.1);



	/* Light mode */
}



/* Fonts */
@font-face {
	font-family: 'Inter';
	src:local('./fonts/inter.woff2') format('woff2');
	/* src:url("D:/Downloads/School/FEDHerkansing/fonts/inter.woff2"); */
}



body {
	background-color: var(--background);
	color: var(--main-text-color);
	font-family: 'Inter', Arial, Helvetica, sans-serif;

}

h1 {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	white-space: nowrap;
	/* hierdoor is het wel visible voor de screenreader en kan flexbox gebruiken op de andere elementen in de header */
}



header {
	position: sticky; 
	top: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;

	gap: 1rem;
	padding: 1rem;        
	background: #000;  /* anders lijkt het te “zweven” */
	z-index: 1000;  
}

header img {
	width: 10rem;
	max-width: 100%;
	height: auto;
}

header button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

header button span {
	display: block;
	width: 1.3rem;
	height: 2px;


    background: var(--main-text-color);
    border-radius: 0.1em;
	margin: 4px 0;
}



header a:first-of-type {
	margin-right: auto;
}

header a:nth-of-type(2) {
	text-decoration: none;
	color: var(--text-color-dark);
	background-color: var(--light-button-color);
	border-radius: 1rem;
	padding: .35rem .65rem .35rem .65rem;
	font-size: .85rem;
}

	header nav {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		translate:-100%;
		transition: 1s;
	}

	header nav.is-open {
		translate: 0;
		background-color: var(--background-color);
		text-decoration: none;

	}
	/* ::before en ::after? */

footer {
	background-color: var(--background-color);


}

footer img {
	width: 10rem;
}

footer ul {

	list-style: none;
}

footer ul li a {
	
	text-decoration: none;
	color: var(--main-text-color);
}