
/* CSS REMEDY */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Custom properties */
:root {
	/* Dark mode */
	--main-text-color: #f4f6fb;
	--secondary-text-color: rgba(244, 246, 251, 0.5);
	--tertairy-text-color: #090909;
	--text-color-dark: #484848;
	--background: black;
	--background-color: #171719;
	--event-button-color: #2C3EDC;
	--wazige-button-color: rgba(244, 246, 251, 0.1);
	--light-button-color: rgba(255, 255, 255, 0.8);
	--heading-yellow: #DAA035;

	--gray-background-color: rgba(231, 234, 255, 0.1);



	/* Light mode */
}



/* Fonts */
@font-face {
	font-family: 'Inter';
	src:local('./fonts/inter.woff2') format('woff2');
	/* src:url("D:/Downloads/School/FEDHerkansing/fonts/inter.woff2"); */
}



body {
	background-color: var(--background);
	color: var(--main-text-color);
	font-family: 'Inter', Arial, Helvetica, sans-serif;

}

h1 {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	white-space: nowrap;
	/* hierdoor is het wel visible voor de screenreader en kan flexbox gebruiken op de andere elementen in de header */
}



header {
	position: sticky; 
	top: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;

	gap: 1rem;
	padding: 1rem;        
	background: #000;  /* anders lijkt het te “zweven” */
	z-index: 1000;  
}

header img {
	width: 10rem;
	max-width: 100%;
	height: auto;
}

header button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;

	position: relative;
	z-index: 1000;
}

header button span {
	display: block;
	width: 1.3rem;
	height: 2px;


    background: var(--main-text-color);
    border-radius: 0.1em;
	margin: 4px 0;
}

header a:first-of-type {
	margin-right: auto;
}

header a:nth-of-type(2) {
	text-decoration: none;
	color: var(--text-color-dark);
	background-color: var(--light-button-color);
	border-radius: 1rem;
	padding: .35rem .65rem .35rem .65rem;
	font-size: .85rem;
}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		transform: translateX(-100%);
		transition: transform 0.3s ease-in-out;
		background-color: var(--background);
		z-index: 900;
		overflow-y: auto;
	}

	header nav.is-open {
		transform: translateX(0);
		top: 3.75rem;

	}
	/* ::before en ::after? */

header nav ul li {
	padding: 1rem;
}


header nav ul li a {
	text-decoration: none;
	color: var(--main-text-color);
}


footer {
	background-color: var(--background-color);

}

footer a {

}

footer > img {
	width: 10rem;
	display: block;
	margin: 0 auto 1.5rem auto;
	padding-top: 2rem;
}

footer nav {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 1.5rem;
	margin-bottom: 2rem;
}


footer nav section h3 {
	font-size: 0.85rem;
	margin-bottom: 0.5rem;
	color: var(--secondary-text-color);
	text-transform: uppercase;
	font-weight: 500;
}

footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

footer nav li {
	margin-bottom: 0.5rem;
}

footer nav a {
	text-decoration: none;
	color: var(--main-text-color);
	font-size: 0.9rem;
}

footer > ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

footer > ul li {
	margin-bottom: 0.5rem;
}

footer > ul a {
	text-decoration: none;
	color: var(--secondary-text-color);
	font-size: 0.85rem;
}

footer > ul li:last-child a {
	margin: 0 0.5rem;
	display: inline-block;
}

footer > ul li:last-child img {
	width: 1.5rem;
	height: 1.5rem;
	filter: invert(60%);
	margin-bottom: 2rem;
}