
/* CSS REMEDY */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Custom properties */
:root {
	/* Dark mode */
	--main-text-color: #f4f6fb;
	--secondary-text-color: rgba(244, 246, 251, 0.5);
	--tertairy-text-color: #090909;
	--text-color-dark: #484848;
	--background: black;
	--background-color: #171719;
	--event-button-color: #2C3EDC;
	--wazige-button-color: rgba(244, 246, 251, 0.1);
	--light-button-color: rgba(255, 255, 255, 0.8);
	--heading-yellow: #DAA035;


	/* Light mode */
}



/* Fonts */
@font-face {
	font-family: 'Inter';
	src:local('./fonts/inter.woff2') format('woff2');
	/* src:url("D:/Downloads/School/FEDHerkansing/fonts/inter.woff2"); */
}



body {
	background-color: var(--background);
	color: var(--main-text-color);
	font-family: 'Inter', Arial, Helvetica, sans-serif;

}

h1 {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	white-space: nowrap;
	/* hierdoor is het wel visible voor de screenreader en kan flexbox gebruiken op de andere elementen in de header */
}


/* Notes
Voor de nav om iets aan de linker kant te houden: margin-left:auto; 
Voor bv img eerst en dan tekst: wel op de child
flex-direction:column

Twee themas!!
s met custom properties aria-current voor link?: is staat en :: gaat over ::

Content drie css bestanden: 1 voor algemene dingen;
fonts etc 1 voor home 1 voor andere pagina
*/